/* comment style for css */
body {
  background-color: aqua;
  font-family: "gotham", helvetica, verdana, sans-serif;
}

h1 {
  font-size: 62px;
  color: crimson;
}

h2 {
  font-family: georgia, times, serif;
  font-size: 32px;
  color: darkorchid;
  font-style: italic;
  text-transform: capitalize;
}

p {
  font-size: 18px;
  line-height: 24px;
}

a:link {
  /* referencing the unvisited state, the rest do the same except for the mentioned states*/
  /* note: pseudo class must be in this order: LVHA - link, visited, hover, active*/
  color: fuchsia;
  text-transform: uppercase;
  font-size: 18px;
  margin-right: 10px;
}

a:visited {
  color: coral
}

a:hover {
  color: chartreuse
}

a:active {
  color: mediumvioletred
}
